<div fxLayout="row" fxLayoutAlign="center" style="padding-top: 10px">
    <div fxLayout="column" fxFlex="1000px">
        <form class="mt-60" #clientsFrm="ngForm" (ngSubmit)="salvar()">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        @if (edicao) {
                            Edição de Cliente
                        } @else {
                            Cadastro de Cliente
                        }
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="mt-20">
                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <mat-form-field class="full-width">
                            <mat-label>Nome</mat-label>
                            <input matInput
                                   name="name"
                                   [(ngModel)]="cliente.nome"
                                   ngModel required>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Email</mat-label>
                            <input matInput
                                   [(ngModel)]="cliente.email"
                                   name="email" ngModel required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <mat-form-field class="full-width">
                            <mat-label>CPF</mat-label>
                            <input matInput
                                   [(ngModel)]="cliente.cpf"
                                   mask="000.000.000-00"
                                   name="cpf" ngModel>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Data de Nascimento</mat-label>
                            <input matInput
                                   [(ngModel)]="cliente.dataNascimento"
                                   mask="00/00/0000"
                                   name="dataNascimento" ngModel>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
                        <mat-form-field class="full-width">
                            <mat-label>Estado</mat-label>
                            <mat-select [(value)]="cliente.uf" (selectionChange)="consultaMunicipios($event)">
                                @for (estado of estados; track estado.sigla) {
                                    <mat-option [value]="estado.sigla">{{ estado.nome }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="full-width">
                            <mat-label>Município</mat-label>
                            <mat-select [(value)]="cliente.municipio">
                                @for (municipio of municipios; track municipio.codigo_ibge) {
                                    <mat-option [value]="municipio.nome">{{ municipio.nome }}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-card-content>

                <mat-card-actions>
                    <button mat-flat-button color="primary" [disabled]="clientsFrm.invalid" type="submit">
                        <mat-icon fontIcon="save"></mat-icon>
                        Salvar
                    </button>
                    <button mat-flat-button color="accent" class="ml-5">
                        <mat-icon fontIcon="backspace"></mat-icon>
                        Voltar
                    </button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>
</div>